<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>All Types</title>
</head>
<body>
  <nav>
    <ul>
      <li><%= link_to 'About', about_path %></li> 
      <li><%= link_to 'Moves', moves_path %></li>
      <li><%= link_to 'Home', home_path %></li>
      <li><%= link_to 'Pokemon', pokemons_path %></li>
      <li><%= link_to 'Region', regions_path %></li>
    </ul>
  </nav>

  <h1>All Types</h1>

  <%= form_tag(types_path, method: :get) do %>
    <%= text_field_tag :search, params[:search], placeholder: 'Search types' %>
    <%= submit_tag 'Search' %>
  <% end %>

  <table>
    <thead>
      <tr>
        <th>Name</th>
      </tr>
    </thead>
    <tbody>
      <% @types.each do |type| %>
        <tr>
          <td><%= link_to type.name, type_path(type) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<%= paginate @types %>

</body>
</html>
