<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pokémon of Type <%= @type.name %></title>
</head>
<body>
   <nav>
    <ul>
      <li><%= link_to 'About', about_path %></li> 
      <li><%= link_to 'Moves', moves_path %></li>
      <li><%= link_to 'Home', home_path %></li>
      <li><%= link_to 'Pokemon', pokemons_path %></li>
      <li><%= link_to 'Region', regions_path %></li>
    </ul>
  </nav>
  <h1>Pokémon of Type <%= @type.name %></h1>

  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Name (English)</th>
        <th>Type</th>
      </tr>
    </thead>
    <tbody>
      <% @pokemons.each do |pokemon| %>
        <tr>
          <td><%= pokemon.id %></td>
          <td><%= link_to pokemon.name_english, pokemon_path(pokemon) %></td>
          <td>
            <% pokemon.types.each do |type| %>
              <%= type.name %>
              <%= ',' unless type == pokemon.types.last %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</body>
</html>
