<h1><%= @move.ename %></h1>
<p><strong>Type:</strong> <%= @move.move_type %></p>
<p><strong>Power:</strong> <%= @move.power %></p>
<p><strong>PP:</strong> <%= @move.pp %></p>
<p><strong>Accuracy:</strong> <%= @move.accuracy %></p>
<%= link_to 'Back', pokemons_path %>
