<!DOCTYPE html>
<html>
<head>
  <title>About</title>
</head>
<body>
    <nav>
  <ul>
     <li><%= link_to 'Pokemon', pokemons_path %></li> 
    <li><%= link_to 'Moves', moves_path %></li>
    <li><%= link_to 'Home', home_path %></li>
    <li><%= link_to 'Types', types_path %></li>
    <li><%= link_to 'Region', regions_path %></li>

  </ul>
</nav>
  <h1>About Page</h1>

  <h2>Data Sources</h2>
  <ul>
    <li>Pokemon Data: <a href="/path/to/pokemon.json">pokemon.json</a></li>
    <li>Moves Data: <a href="/path/to/moves.json">moves.json</a></li>
    <li>Moves API: <a href="https://api.moves.com">https://api.moves.com</a></li>
    <li>Faker Gem for Regions</li>
  </ul>

  <h2>ERD (Entity Relationship Diagram)</h2>
  <img src="/path/to/your/erd_image.png" alt="ERD Image">

 

  <footer>
    <p>&copy; 2024 Your App Name</p>
  </footer>
</body>
</html>
