<!DOCTYPE html>
<html lang="en">
<head>
  <title>About</title>
</head>
<body>
  <nav>
    <ul>
      <li><%= link_to 'Pokemon', pokemons_path %></li> 
      <li><%= link_to 'Moves', moves_path %></li>
      <li><%= link_to 'Home', home_path %></li>
      <li><%= link_to 'Types', types_path %></li>
      <li><%= link_to 'Region', regions_path %></li>
    </ul>
  </nav>

  <h1>About Page</h1>

  <h2>Data Sources</h2>
  <ul>
    <li>Pokemon Data: <a href="#">pokemon.json</a></li>
    <li>Moves Data: <a href="#">moves.json</a></li>
    <li>Moves API: <a href="https://pokeapi.co/api/v2/type">https://pokeapi.co/api/v2/type</a></li>
    <li>Faker Gem for Regions</li>
  </ul>

 

  <h2>Entities and Relationships</h2>
  <ul>
    <li><strong>Pokémon - Move:</strong> Utilize the Pokemon and Move tables to analyze which moves are associated with each Pokémon species based on the id column relationships.</li>
    <li><strong>Pokémon - Type:</strong> Explore the Pokemon and Type tables to understand the types of each Pokémon and how they are linked through the many-to-many relationship.</li>
    <li><strong>Pokémon - Region:</strong> Investigate the Pokemon and Region tables to determine which Pokémon species can be found in different regions and vice versa.</li>
  </ul>

  <footer>
    <p>&copy; 2024 Your App Name</p>
  </footer>
</body>
</html>
