<nav>
  <ul>
     <li><%= link_to 'About', about_path %></li> 
    <li><%= link_to 'Moves', moves_path %></li>
    <li><%= link_to 'Home', home_path %></li>
    <li><%= link_to 'Types', types_path %></li>
    <li><%= link_to 'Region', regions_path %></li>

  </ul>
</nav>
<h1>Pokémon List</h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name (English)</th>
      <th>Type</th>
    </tr>
  </thead>
  <tbody>
    <% @pokemons.each do |pokemon| %>
      <tr>
        <td><%= pokemon.id %></td>
        <td><%= link_to pokemon.name_english, pokemon_path(pokemon) %></td>
        <td><%= pokemon.pokemon_type %></td>
      </tr>
    <% end %>
  </tbody>
</table>
