<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= @pokemon.name_english %> Details</title>
</head>
<body>
  <h1><%= @pokemon.name_english %></h1>

  <p><strong>Type:</strong> <%= @pokemon.pokemon_type %></p>
  <p><strong>HP:</strong> <%= @pokemon.base_hp %></p>
  <p><strong>Attack:</strong> <%= @pokemon.base_attack %></p>
  <p><strong>Defense:</strong> <%= @pokemon.base_defense %></p>
  <p><strong>Sp. Attack:</strong> <%= @pokemon.base_sp_attack %></p>
  <p><strong>Sp. Defense:</strong> <%= @pokemon.base_sp_defense %></p>
  <p><strong>Speed:</strong> <%= @pokemon.base_speed %></p>

  <h2>Moves</h2>
  <ul>
    <% @moves.each do |move| %>
      <li>
        <%= link_to move.ename, move_path(move) %> - Power: <%= move.power %>, PP: <%= move.pp %>, Accuracy: <%= move.accuracy %>
      </li>
    <% end %>
  </ul>

  <%= link_to 'Back to List', pokemons_path %>
</body>
</html>
