<nav>
  <ul>
     <li><%= link_to 'About', about_path %></li> 
    <li><%= link_to 'Moves', moves_path %></li>
    <li><%= link_to 'Home', home_path %></li>
    <li><%= link_to 'Types', types_path %></li>
    <li><%= link_to 'Pokemon', pokemons_path %></li>

  </ul>
</nav>
<h1>All Regions</h1>

<ul>
  <% @regions.each do |region| %>
    <li><%= link_to region.name, region_path(region) %></li>
  <% end %>
</ul>
