<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>All Regions</title>
</head>
<body>
  <nav>
    <ul>
      <li><%= link_to 'About', about_path %></li> 
      <li><%= link_to 'Moves', moves_path %></li>
      <li><%= link_to 'Home', home_path %></li>
      <li><%= link_to 'Pokemon', pokemons_path %></li>
      <li><%= link_to 'Types', types_path %></li>
    </ul>
  </nav>

  <h1>All Regions</h1>

  <%= form_tag(regions_path, method: :get) do %>
    <%= text_field_tag :search, params[:search], placeholder: 'Search regions' %>
    <%= submit_tag 'Search' %>
  <% end %>
 <!-- Map container -->
  <div id="map" style="height: 300px; width :300px;"></div>

  <!-- Google Maps JavaScript API initialization -->
  <script>
    // Initialize and add the map
    function initMap() {
      // The location of your map's center
      var center = { lat: -34.397, lng: 150.644 };
      
      // The map, centered at the specified location
      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 8,
        center: center
      });
      
      // Optional: Add a marker at the center location
      var marker = new google.maps.Marker({
        position: center,
        map: map,
        title: 'Hello World!'
      });
    }
    
    // Call the initMap function when the page loads
    document.addEventListener('DOMContentLoaded', function() {
      initMap();
    });
  </script>
  <table>
    <thead>
      <tr>
        <th>Name</th>
      </tr>
    </thead>
    <tbody>
      <% @regions.each do |region| %>
        <tr>
          <td><%= link_to region.name, region_path(region) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate @regions %>

</body>
</html>
