<nav>
  <ul>
    <li><%= link_to 'About', about_path %></li> 
    <li><%= link_to 'Moves', moves_path %></li>
    <li><%= link_to 'Home', home_path %></li>
    <li><%= link_to 'Pokemon', pokemons_path %></li>
    <li><%= link_to 'Types', types_path %></li>
  </ul>
</nav>
<h1>All Regions</h1>

<%= form_tag(regions_path, method: :get) do %>
  <%= text_field_tag :search, params[:search], placeholder: 'Search regions' %>
  <%= submit_tag 'Search' %>
<% end %>

<table>
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
    <% @regions.each do |region| %>
      <tr>
        <td><%= link_to region.name, region_path(region) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
